$fz : 1vw;
$screenWidth: calc(100vw - 20px);
@import url("fonts.scss");

body {
  width: $screenWidth;
  height: 100vh;
  font-family: UniNeue, sans-serif;
  margin: 0;

  font-size: $fz;
  padding: 1vw 0;
  a {
    text-decoration: none;
    color: inherit;
  }
  header,
  main {
    margin: 0 auto;
    width: fit-content;
    min-width: 80vw;
  }
}
.relative {
  position: relative;
}
.bold {
  font-weight: bold;
}
.number:before {
  background-image: url("../imgs/phone.svg");
  background-size: contain;
  margin-right: .5vw;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  height: 2vw;
  width: 1vw;
  content: "";
}
.max-w-15 {
  max-width: 15vw;
}
.max-w-10 {
  max-width: 10vw;
}

.absolute {
  position: absolute;
  &.center {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

.img-bgc {
  position: absolute;
  z-index: -3;
  top: 0;
  width: $screenWidth;
  height: 60vw;
  background-position: center;
  background-size: 120% 100%;
  background-repeat: no-repeat;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

header {
  height: fit-content;
  nav {
    a {
      text-transform: uppercase;
    }
  }
  #logo {
    height: 5vw;
  }
  #mapOpen {
    height: 3vw;
    border-radius: 2vw;
  }
  .btn {
    background: #313D4B;
    color: #FFFFFF;
  }
}
.grid {
  display: grid;

  &.grid-2 {
    grid-template-columns: repeat(2,1fr);
  }

  &.gap2 {
    gap: 2vw;
  }
  &.gap1 {
    gap: 1vw;
  }
}
.flex {
  display: flex;

    &.js-sb {
      justify-content: space-between;
    }

    &.js-sa {
      justify-content: space-around;
    }
    &.flex-column {
      flex-direction: column;
    }
    &.gap2 {
      gap: 2vw;
    }
    &.gap1 {
      gap: 1vw;
    }
    &.gap4 {
      gap: 4vw;
    }
  &.center {
    justify-content: center;
    align-items: center;
  }
}
.btn {
  border: none;
  position: relative;
  height: auto;
  margin: auto 0;
  display: flex;
  width: max-content;
  overflow-x: hidden;
  &.p1 {
    padding: 1vw;
  }
  &.p2 {
    padding: 2vw;
  }
  &.border-05 {
    border-radius: .5vw;
  }
  &.c-white {
    color: #FFFFFF;
  }
  &.bgc-52BC5B {
    background-color: #52BC5B;
  }
  .flare {
    position: absolute;
    top: 0;
    height: 100%;
    width: 45px;
    transform: skewX(-45deg);
    left: -150%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    animation: flareAnimation 3s infinite linear; // Время и тип анимации можно менять
  }

}

.social {
  img {
    padding: .6vw;
    width: auto;
    height: 1.3vw;
    border-radius: 2vw;
  }
  #tg {
    background: #00A2F2;
  }
  #viber {
    background: #7460F3;
  }
  #wp {
    background: #25D266;
  }
}
.bgc-white {
  background-color: white;
}
.info {
  article::after {
    display: block;
    content: "";
    position: absolute;
    top: -.1vw;
    transform: rotate(-45deg);
    left: -1vw;
    width: 1.2vw;
    height: .2vw;
    background-color: red;


  }
  & p {
    max-width: 10vw;
    padding: 0;
    margin: 0;
    font-size: 1.2em;
  }
  .fz-3 {
    font-size: 3em;
  }
}
main {
  height: fit-content;
  width: fit-content;
  h1 {
    width: 45vw;
    font-size: 3.8em;
  }
  .btn {
    text-transform: uppercase;
    word-wrap: break-word;
    border-radius: .5vw;
    padding: 1vw 2vw;
    p {
      text-align: left;
    }
    img {
      height: 2vw;
    }
  }
  .slider {
    padding-top: 1vw;
    width: auto;
    article {
      img {
        height: 2vw;
        width: 1vw;
      }
      article {
        img {
          height: 10vw;
          width: 8vw;
        }
      }
    }
  }
}
.pop-up-map {
    opacity: 0;
  z-index: -3;

  iframe {
    margin: auto;

  }
  article {
    z-index: -3;
  }
  &.active {
    opacity: 1;
    z-index: 1;
    transition: .3s;

    iframe {
      animation-name: OpenMenu;
      animation-duration: 2s;
      animation-direction: normal;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
    article {
      z-index: 0;
      width: 100vw;
      height: 100vh;
    }
  }

}
@keyframes OpenMenu {
  from {
    width: 10vw;
    height: 10vh;

}
 to {
   width: 80vw;
   height: 80vh;
 }
}
@keyframes flareAnimation {
  0% {
    left: -10%;
  }

  100% {
    left: 150%;
  }
}